@import 'tailwindcss';
@theme {
  --font-cursive: 'Dancing Script', cursive;
  --color-hover: #dc9458;
  --color-dark: #1c2123;
  --color-pink: #ef3d5b;
  --color-green: #57b957;
}
@utility box {
  @apply container max-w-7xl mx-auto;
}
@utility btn {
  @apply px-4 py-2 rounded-full text-white bg-[#cb2e36] hover:bg-[#dc9458] transition-colors duration-300;
}
body {
  font-family: Rubik, sans-serif;
}
.bg {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(to bottom, #79242adc, #cb2e36df), url('/pattern.jpg');
  background-size: cover;
  background-position: center;
}
